{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
</main>


<script src='https://cdn.plot.ly/plotly-2.18.2.min.js'></script>


<!-- https://chartjs.bootcss.com/samples/scales/time/line.html -->
<script>
  var jsd = {{ data | tojson}};

  var layout = {
    title: 'Estimated 1RM maxes',
    height: 700,
    legend: { "orientation": "h", x: 0.4, y: 1.0 }
  };

  // style the traces in blog.py
  Plotly.newPlot('myDiv', jsd.bench, layout);
  Plotly.addTraces('myDiv', jsd.deadlift);
  Plotly.addTraces('myDiv', jsd.military);
  Plotly.addTraces('myDiv', jsd.squat);


</script>
{% endblock %}



</html>